.message-sidebar{
    background: linear-gradient(to right, rgb(182, 230, 244), black); 
    top: 1;
      left:0;
      z-index: 1;
      height: fit-content;
      /*width: 180px;*/
      width:fit-content;
      transition: none;
      transform: translateX(-100%);
      overflow: hidden;  
    color: black;
      position: absolute; 
}
.map{
    position: relative;
    margin-right: 0;
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
}
.sidebar-button{
    height: 50px;
    width: 20px; 
}
.sidebar-button:active{
border:solid;
}
.exit-sidebar{
    border: solid;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    margin-left: 145px;
    margin-top: 5px;

}
.exit-sidebar:active{
    background-color: black;
}
.alerts-dog-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}
.message-options{
    height: fit-content;
    width: fit-content;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto auto auto;
border: solid;
box-shadow: 20px 20px 50px grey;

}
.options-bttn{
    text-decoration: none;
    color: black;
    cursor: pointer;

}
.options-bttn:active{
    color: white;
}
.alert-options{
border: solid;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto;
margin-left: 145px;
margin-top: 500px;
height: fit-content;
width: fit-content;
position: relative; 

}
#map{
       height: 500px;
        width: 500px;
        margin-left: auto;
    }
    
html{
        box-sizing: border-box ;
    }
    body{
        color: rgb(238,236,233);
    }
    
.profile-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    width: 100px;
}
button{ border-radius: 25px;
    border: 0.5px solid black;
}
    button:active{
        background: rgb(238,236,233);
        color: rgb(238,236,233);

    }

    @media only screen and (min-width: 300px) and (max-width:500px){
       
        .profile-img{
            height: 100px;
            width: 100px;
        }
        
        p{margin-left: auto;
        margin-top: 10px;
        font-size: 13px;

         }
         button{
            font-size: 13px;
         }
         #map{
position: absolute;
top:100px;
right:15px;
height: 300px;
width: 300px;
         }

        
         .alert-options{
            background-color: gainsboro;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            margin-left: 145px;
            margin-top: 100px;
            height: fit-content;
            width: fit-content;
            position: relative; 
            z-index: 2;

            }
   
    }
 
 
 @media only screen and (min-width: 500px) and (max-width:650px){
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
    p{margin-left: auto;
    margin-top: 10px;
    font-size: 15px;

     }
     button{
        font-size: 15px;
     }
     #map{
        position: absolute;
        top:100px;
        right:15px;
        height: 350px;
        width: 350px;
                 }
  
 }
 @media only screen and (min-width: 650px) and (max-width:800px){
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
    p{margin-left: auto;
    margin-top: 10px;
    font-size: 17px;

     }
     button{
        font-size: 17px;
     }
   
     #map{
        position: absolute;
        top:100px;
        right:15px;
        height: 450px;
        width: 450px;
                 }
 }
 
 @media only screen and (min-width: 800px) and (max-width:1000px){ 
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
    p{margin-left: auto;
    margin-top: 10px;
    font-size: 18px;


     }
     button{
        font-size: 18px;
     }
     
     #map{
        position: absolute;
        top:100px;
        right:15px;
        height: 500px;
        width: 500px;
                 }
 
 
 }
 @media only screen and (min-width: 1000px) and (max-width:1300px){ 
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
    p{margin-left: auto;
    margin-top: 10px;
    font-size: 18px;


     }
     button{
        font-size: 18px;
     }
     #map{
        position: absolute;
        top:100px;
        right:15px;
        height: 500px;
        width: 500px;
                 }
 
 }
 
 @media only screen and (min-width: 1300px) and (max-width:3000px){ 
 
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
    p{margin-left: auto;
    margin-top: 10px;
    font-size: 24px;


     }
     button{
        font-size: 24px;
    }
 
            
    #map{
        position: absolute;
        top:100px;
        right:15px;
        height: 500px;
        width: 500px;
                 }  
 
 
 }
 