body{  
    background-image: url('../images/signup-background.jpg');      
    background-color: #bafae1;
    background-repeat: no-repeat;
    background-position: 0px 70px;
     background-size: 100% 100%;
    }


.signUp-form{
    background-color: yellow;
    height: fit-content;
    width: fit-content;
  margin-left: 550px;
    position: absolute;


}
.continue-bttn-1{
    font-size: calc(15px + 0.390625vw);

}
.continue-bttn{
    background: none;
    margin-top: 30px;
    margin-left: 5px;
     color: black;
     border-radius: 25px;
     border: 0.5px solid black;
     width: 80px;
     height: 40px;
}

.continue-bttn:active{
    background: white;
    color: white;


}

.options-1{
   left:100px;
    position: absolute;
   height: 100%;
    width: fit-content;
    display: inline-block;
}
.options-2{
    left:300px;
    position: absolute;
   height: 100%;
    width: fit-content;
    display: inline-block;
}
.options-3{
    left:600px;
    position: absolute;
   height: 100%;
    width: fit-content;
    display: inline-block;
}
.options-4{
    margin-top: 70px;
    left:100px;
    position: absolute;
   height: 100%;
    width: fit-content;
    display: inline-block;
}
.dropdown-bttn{ /***/
    position: center;
    white-space: nowrap;

    background:  #44a89c;
     color: black;
     border-radius: 15px;
     border: 0.5px solid black;
     width: 80px;
     height: 40px;

}

.dropdown-1{
    height: fit-content;
    width: 100px;
    z-index: 1;
    position: absolute;
    display: none;
    

}
.dropdown-2{
    height: fit-content;
    width: 100px;
    z-index: 1;
    position: absolute;
    display: none;
   
    


}
.dropdown-3{
    height: fit-content;
    width: 100px;
    z-index: 1;
    position: absolute;
    display: none;

}
.dropdown-4{
    
    height: fit-content;
    width: 100px;
    z-index: 1;
    position: absolute;
    display: none;
}
.dropdown-item{
    position: relative;
    height: fit-content;
    width: 110px;
    visibility: visible;
    border: solid;
    border-width: 0.1px;
    border-color: black  
}
.dropdown-item:hover{
    border: solid;
    border-color: black  
}
.dropdown-item:active{
    visibility: hidden;
}
.content-1{
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 300px;
}
.content-2{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-top: 330px;
}
.content-3{
    height: fit-content;
    width: fit-content;
    margin-left: 400px;  

    border: solid;
    border-color: black;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 50px 50px;
  
}
.content-3-rows{

 
    border: solid;
    border-color: black;
   
  
}
.question-1{
position: absolute;
margin-top: 10px;
white-space: nowrap;
}
.question-2{
    position: absolute;
    margin-top: 280px;
    white-space: nowrap;

}

.continue-2-bttn{
    border:none;
    background-color: transparent;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top:200px;
    left:400px;
 
    
}

.continue-2-bttn:active{
    border: none;
color: white;
}
.location-yes{
position: absolute;
margin-left: 200px;

}
.location-no{
    position: absolute;
    margin-left: 200px;
   
}
.submit-profile{
    position: absolute;
    margin-left: 160px;  
}

.signUp-3-bttns{
    background: linear-gradient(to right, rgb(182, 230, 244), black);
     color: black;
     border-radius: 25px;
border: none;    
}
.signUp-3-bttns:active{
    background:  rgb(77, 75, 75);;
    color:  rgb(77, 75, 75);
    border: solid;
    border-color: rgb(77, 75, 75);
}

p{
    font-size: calc(15px + 0.390625vw);;
}
@media only screen and (min-width: 300px) and (max-width:500px){

    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 340px;
        }

        p{
            font-size: calc(15px + 0.390625vw);
          position: absolute;


        }
        .continue-bttn-1{
            margin-left: 35vw;
            position: absolute;
             margin-top: 160px;
             font-size: calc(15px + 0.390625vw);


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 80px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 150px;
    height: 30px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 10px;
    margin-right: auto;
   



} 
}

@media only screen and (min-width: 500px) and (max-width:650px){
  
    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 470px;
        }

        p{
            font-size: calc(17px + 0.390625vw);
          position: absolute;


        }
        .continue-bttn-1{
            margin-left: 30vw;
            position: absolute;
             margin-top: 220px;
             font-size: calc(17px + 0.390625vw);;


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 90px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 150px;
    height: 30px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 65px;
    margin-right: auto;
   



}     
}
@media only screen and (min-width: 650px) and (max-width:800px){
    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 750px;
        }

        p{
            font-size: calc(16px + 0.390625vw);
          position: absolute;


        }
        .continue-bttn-1{
            margin-left: 30vw;
            position: absolute;
             margin-top: 220px;
             font-size: calc(16px + 0.390625vw);;


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 100px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 170px;
    height: 30px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 65px;
    margin-right: auto;
   



}  


}

@media only screen and (min-width: 800px) and (max-width:1000px){ /**/

    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 780px;
        }

        p{
            font-size: calc(17px + 0.390625vw);
          position: absolute;


        }
        .continue-bttn-1{
            margin-left: 30vw;
            position: absolute;
             margin-top: 220px;
             font-size: calc(17px + 0.390625vw);;


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 100px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 180px;
    height: 30px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 65px;
    margin-right: auto;
   



}  




}
@media only screen and (min-width: 1000px) and (max-width:1300px){ /**/
  
    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 970px;
        }

        p{
            font-size: calc(17px + 0.390625vw);
          position: absolute;


        }
        .continue-bttn-1{
            margin-left: 30vw;
            position: absolute;
             margin-top: 220px;
             font-size: calc(17px + 0.390625vw);;


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 100px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 180px;
    height: 30px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 65px;
    margin-right: auto;
   



}  

 

}

@media only screen and (min-width: 1300px) and (max-width:3000px){ /**/



    body{  
        background-image: url('../images/signup-background.jpg');      
        background-color: #44a89c;
        background-repeat: no-repeat;
        background-position: 0px 70px;
         background-size: 100% 1200px;
        }


        p{
            font-size: calc(17px + 0.390625vw);
          position: absolute;
        color: black;

        }
        .continue-bttn-1{
            margin-left: 30vw;
            position: absolute;
             margin-top: 250px;
             font-size: calc(17px + 0.390625vw);;


        }
        .continue-bttn{
            background: none;
             color: black;
             border-radius: 25px;
             border: 0.5px solid black;
             width: 120px;
             height: 40px;
        }
.input-container-1{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    height: fit-content;
width: fit-content;



}
.input-container-2{
    margin: auto;
    position: absolute;
    margin-left: 25vw;
    margin-top: 120px;
    height: fit-content;
    width: fit-content;
    


}
.signUp-input{ 
    background: none;
    width: 250px;
    height: 45px;
    border-radius:25px;  
    border: 0.5px solid black;
    margin-top: 65px;
    margin-right: auto;
   



}  
}
