.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px 100%;
    width: 100vw;
  height: 100vh;
}
.row-one{
  background: linear-gradient(to right, rgb(182, 230, 244), black); 
  position: relative;
     grid-area: 1 / 1/ 1/ 1;
}
.row-two{

  background: none;
    grid-area: 2 / 1/ 2/ 2; 

}

.logo-img{
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 90%;
  width:50px;
  height: 50px;
}
@font-face {
  font-family: 'MyBcAlphapipe';
  src: url('../images/Quicksand-VariableFont_wght.ttf');

}
.app-name{
  position: absolute;
  top: 10px;
  margin-left: 20%;
  font-family: 'MyBcAlphapipe';

}
.merged-dogs{
  background-size: 100% 100%;
  background: url('../images/mergedDogs.jpg');
  background-repeat: no-repeat;
  color: white;

}
.img-four{
  background-size: 100% 100%;
  background: url('../images/signUp-2-img.png');
  background-repeat: no-repeat;
}
@media only screen and (min-width: 300px) and (max-width:500px){

  .merged-dogs{
    width: 100%;
    height: 200px;
    background-size: 100% 100%;

  }
  
.logo-img-home{ 
  width: 50px;
  height: 50px;
  margin-left: 60px;
  margin-top: 10px;
}
.app-name-one{ 
  font-size: 23px;
  font-family: 'MyBcAlphapipe';
  margin-left: 25px;
  margin-top: 10px;

}

.app-name{ 
  font-size: 17px;
  margin-left: 90px;
top: 25%;
}
.logo-img{ 
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 200px;
  width:32px;
  height: 32px;
}
.navbar-acc{ 
  margin-left: 60px;
 top: 70%;
 position: absolute;
font-size: 13px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{/**/
  margin-left: 130px;
  top: 70%;
  position: absolute;
 font-size: 13px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ /**/
  margin-left: 170px;
  top: 70%;
  position: absolute;
 font-size: 13px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ 
  font-size: 13px;
  margin-left: 50px;
  margin-top: -10px;
  /*white-space: pre;*/

}

.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 10px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
}
.smiling-lady{
  height: 200px;
  width: 200px; 
  position: absolute; 
  margin-top: 350px; 
 right:0; 
}
.paw-img{
  height: 100px;
 width: 100px; 
  position: absolute; 
  margin-top: 960px; 
 right:0; 

 }
.img-two{
  height: 130px;
  width: 130px; 
  position: absolute; 
  margin-top: 1700px; 
 right:0;
}
.img-three{
  height: 250px;
  width: 250px; 
  position: absolute; 
  margin-top: 950px; 
 right:0;
}

.img-four{
  background-image: url('../images/signUp-2-img.png');
  height: 270px;
  width: 270px;
  right:0;
  margin-top: 1600px; 
  position: absolute;
  background-size: cover;
  background-position: 0% 50%; /* x y*/


}
.home-info-header-two{
  font-size: calc(20px + 0.390625vw);;
  text-align: center;
  color: #286e84;
}

.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 600px; 

}
.home-img-three{
  height: 250px;
  width: 250px; 
  position: absolute; 
  margin-top: 1670px; 
 right:0; 
}
.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1250px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}
.home-info-six{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 3000px; 

}
.home-info-header{
  font-size: 13px;
}

.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}






}

@media only screen and (min-width: 500px) and (max-width:650px){
  
  .merged-dogs{
    width: 100%;
    height: 450px;
    background-size: 100% 100%;

  }
  .smiling-lady{
    height: 200px;
    width: 200px; 
    position: absolute; 
    margin-top: 350px; 
   right:0; 
  }
.logo-img-home{ /**/
  width: 70px;
  height: 70px;
  margin-left: 120px;
  margin-top: 20px;
}
.app-name-one{ 
  font-size: 30px;
  font-family: 'MyBcAlphapipe';
  margin-left: 70px;
  margin-top: 20px;

}

.app-name{ /**/
  font-size: 23px;
  margin-left: 50px;
top: 25%;
}
.logo-img{ /**/
  position: absolute;
  background-repeat: no-repeat;
  top: 15px;
  margin-left: 90%;
  width:32px;
  height: 32px;
}
.navbar-acc{ /**/
  margin-left: 210px;
 top: 25%;
 position: absolute;
font-size: 15px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{/**/
  margin-left: 290px;
  top: 25%;
  position: absolute;
 font-size: 15px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ /**/
  margin-left: 340px;
  top: 25%;
  position: absolute;
 font-size: 15px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ 
  font-size: 15px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: pre;

}
.img-four{
  background-image: url('../images/signUp-2-img.png');
  height: 320px;
  width: 320px;
  right:0;
  margin-top: 1600px; 
  position: absolute;
  background-size: cover;
  background-position: -15% 50%; /* x y*/


}
.img-three{
  height: 280px;
  width: 280px; 
  position: absolute; 
  margin-top: 950px; 
 right:0;
}
.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 10px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
}

.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 600px; 

}

.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1250px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}
.home-info-six{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 3000px; 

}

.home-info-header{
  font-size: 15px;
}

.paw-img{
  height: 100px;
 width: 100px; 
  position: absolute; 
  margin-top: 960px; 
 right:0; 

 }
.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}




}
@media only screen and (min-width: 650px) and (max-width:800px){
  
  .merged-dogs{
    width: 100%;
    height: 450px;
    background-size: 100% 100%;

  }
  .smiling-lady{
    height: 200px;
    width: 200px; 
    position: absolute; 
    margin-top: 350px; 
   right:0; 
  }
.logo-img-home{ /**/
  width: 90px;
  height: 90px;
  margin-left: 120px;
  margin-top: 30px;
}
.app-name-one{ /**/
  font-size: 35px;
  font-family: 'MyBcAlphapipe';
  margin-left: 70px;
}

.app-name{ /**/
  font-size: 26px;
  margin-left: 100px;
top: 25%;
}
.logo-img{ 
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 90%;
  width:45px;
  height: 45px;
}
.navbar-acc{ /**/
  margin-left: 270px;
 top: 25%;
 position: absolute;
font-size: 17px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{/**/
  margin-left: 360px;
  top: 25%;
  position: absolute;
 font-size: 17px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ /**/
  margin-left: 410px;
  top: 25%;
  position: absolute;
 font-size: 17px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ 
  font-size: 20px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: pre;

}
.img-three{
  height: 280px;
  width: 280px; 
  position: absolute; 
  margin-top: 950px; 
 right:0;
}
.img-four{
  background-image: url('../images/signUp-2-img.png');
  height: 320px;
  width: 320px;
  right:0;
  margin-top: 1600px; 
  position: absolute;
  background-size: cover;
  background-position: -15% 50%; /* x y*/


}
.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 10px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
}
.home-info-one{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 20px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: fit-content;
  width: 500px;  
  font-size: 17px;
  text-align: center;

}
.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 600px; 

}

.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1250px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}
.home-info-six{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 300px;
  width: 300px;  
  font-size: 13px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 3000px; 

}
.home-info-header{
  font-size: 17px;
}
.paw-img{
  height: 100px;
 width: 100px; 
  position: absolute; 
  margin-top: 960px; 
 right:0; 

 }
.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}


}

@media only screen and (min-width: 800px) and (max-width:1000px){ /**/
  .merged-dogs{
    width: 100%;
    height: 650px;
    background-size: 100% 100%;

  }
  .smiling-lady{
    width: 100%;
    height: 1200px;
    background-size: 100% 100%; 
  }
.logo-img-home{ 
  width: 100px;
  height: 100px;
  margin-left: 135px;
  margin-top: 30px;
}
.app-name-one{ 
  font-size: 40px;
  font-family: 'MyBcAlphapipe';
  margin-left: 70px;
}

.app-name{ 
  font-size: 30px;
  margin-left: 100px;
top: 25%;
}
.logo-img{ 
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 90%;
  width:45px;
  height: 45px;
}
.navbar-acc{ 
  margin-left: 400px;
 top: 25%;
 position: absolute;
font-size: 20px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{
  margin-left: 550px;
  top: 25%;
  position: absolute;
 font-size: 20px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ 
  margin-left: 650px;
  top: 25%;
  position: absolute;
 font-size: 20px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ 
  font-size: 25px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: pre;

}

.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 600px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-one{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 20px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: fit-content;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1400px; 

}

.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2000px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}

.home-info-header{
  font-size: 20px;
}
.paw-img{
 height: 100px;
width: 100px;
}
.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}


}
@media only screen and (min-width: 1000px) and (max-width:1300px){ /**/
  .merged-dogs{
    width: 100%;
    height: 650px;
    background-size: 100% 100%;

  }
  .smiling-lady{
    width: 100%;
    height: 1200px;
    background-size: 100% 100%; 
  }
.logo-img-home{ /**/
  width: 100px;
  height: 100px;
  margin-left: 135px;
  margin-top: 30px;
}
.app-name-one{ /**/
  font-size: 40px;
  font-family: 'MyBcAlphapipe';
  margin-left: 70px;
}

.app-name{ /**/
  font-size: 30px;
  margin-left: 100px;
top: 25%;
}
.logo-img{ 
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 90%;
  width:45px;
  height: 45px;
}
.navbar-acc{ /**/
  margin-left: 400px;
 top: 25%;
 position: absolute;
font-size: 20px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{/**/
  margin-left: 550px;
  top: 25%;
  position: absolute;
 font-size: 20px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ /**/
  margin-left: 650px;
  top: 25%;
  position: absolute;
 font-size: 20px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ 
  font-size: 25px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: pre;

}

.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 600px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-one{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 20px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: fit-content;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1400px; 

}

.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2000px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}

.home-info-header{
  font-size: 20px;
}
.paw-img{
 height: 100px;
width: 100px;
}
.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}


 

}

@media only screen and (min-width: 1300px) and (max-width:1502px){ /**/
  .merged-dogs{
    width: 100%;
    height: 700px;
    background-size: 100% 100%;

  }
  .smiling-lady{
    width: 100%;
    height: 1300px;
    background-size: 100% 100%; 
  }
.logo-img-home{
  width: 120px;
  height: 120px;
  margin-left: 160px;
  margin-top: 20px;
}
.app-name-one{ /**/
  font-size: 50px;
  font-family: 'MyBcAlphapipe';
  margin-left: 70px;
}

.app-name{ /**/
  font-size: 35px;
  margin-left: 100px;
top: 25%;
}
.logo-img{ /**/
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  margin-left: 90%;
  width:45px;
  height: 45px;
}
.navbar-acc{ /**/
  margin-left: 550px;
 top: 25%;
 position: absolute;
font-size: 24px;
text-decoration: none;
color: black; 
cursor: pointer;
}
.navbar-acc:active{
  color: white;
}
.navbar-map{/**/
  margin-left: 700px;
  top: 25%;
  position: absolute;
 font-size: 24px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-map:active{
  color: white;
}
.navbar-terms{ /**/
  margin-left: 800px;
  top: 25%;
  position: absolute;
 font-size: 24px;
 text-decoration: none;
 color: black; 
 cursor: pointer;
}
.navbar-terms:active{
  color: white;
}
p{ /**/
  font-size: 30px;
  margin-left: 70px;
  margin-top: 40px;
  white-space: pre;

}

.home-info-two{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 600px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-one{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: absolute; 
  margin-top: 20px; 
  left: 0;
  background:#e8f4f8;
  color: #286e84;
  height: fit-content;
  width: 500px;  
  font-size: 20px;
  text-align: center;

}
.home-info-three{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 1400px; 

}

.home-info-four{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2000px; 

}
.home-info-five{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  background:#e8f4f8;
  color: #286e84;
  height: 500px;
  width: 500px;  
  font-size: 20px;
  text-align: center;
  position: absolute; 
  left: 0;
  margin-top: 2600px; 

}

.home-info-header{
  font-size: 20px;
}
.paw-img{
 height: 100px;
width: 100px;
}
.img-container{
  position: absolute; 
margin-left: 150px;
margin-top: 300px; 


}


}