.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px 100%;
    width: 100vw;
  height: 100vh;
}
.row-one{
    background: pink;
     grid-area: 1 / 1/ 1/ 1;
}
.row-two{
  background: green;
    grid-area: 2 / 1/ 2/ 2; 

}
