doctype html
head
  title Account
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='/stylesheets/template.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/hiddenBar.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/account.css')
.grid-container
  // -- navbar -
  .row-one
    h2.app-name Woolf Alarm
    a.navbar-acc Account
    a.navbar-bttns.navbar-map Map
    a.navbar-bttns.navbar-terms Terms &amp; Conditions
    //
      <a href="/home">
      <img class="menu-img logo-img" src="/images/dog.png">
      </a>
  // -- middle -
  .row-two
    .account-center
      .account-options
        .account-options-img
        p.subsection-title
          b add a dog
      .account-options
        .account-options-img
        p.subsection-title
          b delete a dog
      .account-options
        .account-options-img
        p.subsection-title
          b turn off location
      .account-options
        .account-options-img
        p.subsection-title
          b disable account
      .options-personal-info
        .options-personal-info-img
        p.subsection-title-personal-info
          b edit personal info
        br
        p.first-name First Name
        br
        p.last-name Last Name
        br
        p.email E-mail
      .profile-summary
        p.subsection-title-summary
          b Profile Summary
        button.account-save save changes
  script(type='text/javascript' src='/javascripts/account.js')
