doctype html
head
  title Login
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/template.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/signUp.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js')
.grid-container
  // -- navbar -
  .row-one
    h2.app-name Woolf Alarm
    img.menu-img.logo-img(src='/images/dog.png')
  // -- middle -
  .row-two
    #login-form.login-form
      form#userInfo(action='/signUp-1/userInfo' method='POST')
        .input-email
          p(style='margin-right: auto;') Email
          br
          input#email.login-input(type='text' style='margin-right: auto;' name='email' oninput='email.userEmail= this.value')
          br
          br
        .input-password
          p(style='margin-right: auto;') Password
          input#password.login-input(type='text' style='margin-right: auto;' name='password' oninput='password.userPassword = this.value')
          br
          br
        button#submitSignUp.continue-bttn.login-bttns.signup-bttn(type='submit') Sign up
        button#submitLogin.continue-bttn.login-bttns.login-bttn(type='button') Login
script(type='text/javascript' src='/javascripts/signUp.js')
